CONNECTOR_DATABASE_CONNECTION_STRING=mysql://rafiki:test@db:3306/rafiki
CONNECTOR_ILP_ADDRESS=test.rafiki
ADMIN_AUTH_TOKEN=admin123
MYSQL_DATABASE=rafiki
MYSQL_USER=rafiki
MYSQL_PASSWORD=test
MYSQL_ROOT_PASSWORD=rafiki
